<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <app-game-control (emitNumber)="onEmittedNumber($event)"></app-game-control>
    </div>
  </div>
  <h2>Odd Numbers</h2>
  <div class="row playground">
    <div class="col-sm-12">
      <app-odd *ngFor="let number of oddNumbersEmitted" [number]="number"></app-odd>
    </div>
  </div>
  <h2>Even Numbers</h2>
  <div class="row playground">
    <div class="col-sm-12">
      <app-even *ngFor="let number of evenNumbersEmitted" [number]="number"></app-even>
    </div>
  </div>
</div>
