<div class="row">
  <div class="col-xs-12">
    <form (ngSubmit)="handlerIngredient(f)" #f="ngForm">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Ingredient Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            ngModel
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Ingredient Amount</label>
          <input
            type="number"
            class="form-control"
            id="amount"
            name="amount"
            ngModel
            required
            pattern="^[1-9]+[0-9]*$">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" type="submit"
                  [disabled]="!f.valid">{{ inEditMode ? 'Update' : 'Add' }}</button>
          <button *ngIf="inEditMode"
                  class="btn btn-outline-danger" type="button" [disabled]="!inEditMode"
                  (click)="onDeleteIngredient()">
            Delete
          </button>
          <button class="btn btn-outline-primary" type="button" (click)="onClear()">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>
