<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <app-cockpit
        (onServerCreated)="onServerCreated($event)"
        (onBlueprintCreated)="onBlueprintCreated($event)"
      ></app-cockpit>
    </div>
    <div class="col-sm-12">
      <hr>
      <h1>Servers and Blueprints:</h1>
      <button class="btn btn-success" (click)="changeFirstElement()">Change first element name</button>
      <button class="btn btn-danger" (click)="destroyFirstElement()">Destroy first element</button>
      <app-server-element *ngFor="let server of servers" [serverData]="server" [name]="server.name">
        <div class="card" [ngClass]="server.type === 'server' ? 'bg-danger' : 'bg-primary'">
          <div class="card-header">
            Type: {{ server.type }}
          </div>
          <div class="card-body" #contentDiv>
            <h3>Name: {{ server.name }}</h3>
            <h3>Content: {{ server.content }}</h3>
          </div>
        </div>
      </app-server-element>
    </div>
  </div>
</div>
