<div class="row">
  <div class="col-xs-12 col-md-6 offset-3">
    <div *ngIf="isLoading" style="text-align: center;">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div class="alert alert-success" *ngIf="emailMessage">
      <p>An e-mail has been send! Watch your inbox from <strong>{{ emailMessage }}</strong></p>
    </div>
    <form #forgotPasswordForm="ngForm" *ngIf="!isLoading" (ngSubmit)="onSubmit(forgotPasswordForm)">
      <div class="form-group">
        <label for="email">E-Mail</label>
        <input
          type="text"
          id="email"
          class="form-control"
          ngModel
          name="email"
          required
          email
        />
      </div>
      <div style="margin-top: 20px">
        <button class="btn btn-outline-success col"
                style="margin-right: 10px"
                type="submit"
                [disabled]="!forgotPasswordForm.valid">Recovery
        </button>
        <button class="btn btn-outline-primary col"
                type="button"
                [routerLink]="['../auth']">Go back to Login/Register
        </button>
      </div>
    </form>
  </div>
</div>
