<div class="container">
  <div class="list-group">
    <a [routerLink]="['/recipes', index]"
       class="list-group-item list-group-item-action flex-column align-items-start"
       [routerLinkActive]="'active'"
       style="cursor: pointer">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">Recipe Name: {{ recipe.name }}</h5>
      </div>
      <p class="mb-1">Description: {{ recipe.description }}</p>
      <img [src]="recipe.imagePath" alt="{{ recipe.name }}" class="img-responsive" style="max-height: 60px;">
    </a>
  </div>
</div>
